@model Sistema_Vacunas.Models.Rol
@{
    ViewBag.Title = "Agregar";
}


<!-- Page header -->
<div class="full-box page-header">
    <h3 class="text-left">
        <i class="fas fa-plus fa-fw"></i> &nbsp; Administracion de Roles
    </h3>
    <p class="text-justify">

    </p>
</div>
<!--CONTENT-->
<!-- Content here-->
<div class="container-fluid">
    @using (Html.BeginForm("Guardar", "Rol", FormMethod.Post, new { id = "frm-productos" }))
        {

        @Html.HiddenFor(x => x.id_rol)
        <div><i class="fas fa-user"></i> &nbsp; CREANDO NUEVO ROL</div>
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="producto_nombre" class="bmd-label-floating">Nombre:</label>
                    @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    <label for="producto_descripcion" class="bmd-label-floating">Descripcion:</label>
                    @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "label label-danger" })
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label for="producto_estado" class="bmd-label-floating">Estado:</label>
                    <select name="ESTADO" class="form-control">
                        <option @(Model.estado == "A" ? "selected" : "") value="A">Activo</option>
                        <option @(Model.estado == "I" ? "selected" : "") value="I">Inactivo</option>
                    </select>
                    @Html.ValidationMessageFor(x => x.estado, null, new { @class = "label label-danger" })
                </div>
            </div>
        </div>
        <p class="text-center" style="margin-top: 40px;">


            <button type="submit"  class="btn btn-primary"><i class="far fa-save"></i> &nbsp; Registrar</button>
            &nbsp; &nbsp;
            <button type="reset" class="btn btn-danger"><i class="fas fa-paint-roller"></i> &nbsp; Cancelar</button>
        </p>
}
</div>