<!-- Listar Modelo Paciente -->
@model SistemaVacunas.Models.Paciente
@{
    ViewBag.Title = "Agregar";
}
<!-- Cabeza de Pagina -->
<div class="full-box page-header">
    <h3 class="text-left">
        <i class="fas fa-plus fa-fw"></i> &nbsp; Administracion de Pacientes
    </h3>
    <p class="text-justify">

    </p>
</div>

<!--Contenido-->
<!-- Formulario Mantenimiento Paciente -->
<div class="container-fluid">
    @using (Html.BeginForm("Registrar", "Paciente", FormMethod.Post, new { id = "frm-productos" }))
    {
        @Html.HiddenFor(x => x.Id_paciente)
        <form action="" class="form-neon" autocomplete="off">
            <fieldset>
                <div><i class="fas fa-user"></i> &nbsp; CREANDO NUEVO PACIENTES</div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="producto_DNI" class="bmd-label-floating">Dni:</label>
                                @Html.TextBoxFor(x => x.Dni, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Dni, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="producto_nombre" class="bmd-label-floating">Nombres:</label>
                                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="producto_apellidos" class="bmd-label-floating">Apellidos:</label>
                                @Html.TextBoxFor(x => x.Apellidos, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Apellidos, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="producto_direccion" class="bmd-label-floating">Direccion:</label>
                                @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Direccion, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="producto_telefono" class="bmd-label-floating">Telfono / Celular:</label>
                                @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Telefono, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            @Html.LabelFor(x => x.Sexo)
                            <select name="Sexo" class="form-control">
                                <option @(Model.Sexo == "M" ? "selected" : "") value="M">M</option>
                                <option @(Model.Sexo == "F" ? "selected" : "") value="F">F</option>
                            </select>
                            @Html.ValidationMessageFor(x => x.Sexo, null, new { @class = "label label-danger" })
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label for="producto_email" class="bmd-label-floating">Email:</label>
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label for="producto_email" class="bmd-label-floating">Password:</label>
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            @Html.LabelFor(x => x.Estado)
                            <select name="estado" class="form-control">
                                <option @(Model.Estado == "A" ? "selected" : "") value="A">Activo</option>
                                <option @(Model.Estado == "I" ? "selected" : "") value="I">Inactivo</option>
                            </select>
                            @Html.ValidationMessageFor(x => x.Estado, null, new { @class = "label label-danger" })
                        </div>
                    </div>
                </div>
            </fieldset>
            <br><br><br>
            <p class="text-center" style="margin-top: 40px;">
                <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> &nbsp; Registrar</button>
                &nbsp; &nbsp;
                <a href="~/Paciente" class="btn btn-danger" type="reset">Cancelar</a>
            </p>
        </form>
    }
</div>

